<!doctype html>
<html>
    <head>
        <title>NextBus</title>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@400&family=Catamaran:wght@600"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <script>
          window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </head>
    <body>
        <div id="nav">
            <h1>NextBus</h1><h6>LITE</h6>
        </div>
        <div id="content_wrapper">
            <!-- <img id="content_background" src="{{ url_for('static', filename='images/wave.svg') }}"> -->
            {% block content %}{% endblock content %}
        </div>
        <div id="credits">
            <p>Data provided by <a href="https://www.metroinfo.co.nz/" target="_blank" rel="noopener">Metro</a></p>
            <P>Website by <a href="https://github.com/kanex02" target="_blank" rel="noopener">Kane Xie</a></P>
        </div>
    </body>
    {% block scripts %}{% endblock scripts %}
</html>